@font-face {
    font-family: "YuGothic M";
    src: local("Yu Gothic Medium"),
         local("Yu Gothic");
    font-weight: 500;
}
body {
    font-family: "游ゴシック体", YuGothic, "YuGothic M", sans-serif;
    letter-spacing: 1px;
    font-size: 17px
}
nav {
    border-bottom: 2px solid #dadada;
    padding-bottom: 2px;
}
span {
    width: 5em;
    display: inline-block;
}
a {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}
input {
    cursor: pointer;
}
label {
    cursor: pointer;
}
select {
    cursor: pointer;
}
p {
    margin: 8px 0px;
}
ul {
    list-style: none;
    border-bottom: 1px solid #dadada;
    padding: 0px;
}
li {
    margin-bottom: 0.5em;
}
table {
    border: 1px solid #ccc;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 10px auto;
}
th,
td {
    width: 200px;
    word-wrap: break-word;
    text-align: left;
    padding: 10px 5px 10px 5px;
}
th {
    font-weight: normal;
    background: #e4eaed;
}
table tr:nth-child(odd) {
    background: #0000000d;
}
input[type="text"],
input[type="number"] {
    font-size: 14px;
    height: 2.5em;
}
textarea {
    width: 55em;
    font-size: 14px;
}
input[type="checkbox"] {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.btn {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    padding: 1.5px;
    border-radius: 4px;
    transition: .4s;
    color: #FFF;
    cursor: pointer;
    width: 4em;
    /* aタグとinputの大きさを揃える */
    border: transparent 1px solid;
}
.btn:hover {
    background: #FFF;
    width: 4em;
}
.btn_green {
    background: #28a745;
    border-color: #28a745;
}
.btn_green:hover {
    border: 1px solid #28a745;
    color: #28a745;
}
.btn_red {
    background: #DC143C;
    border-color: #DC143C;
}
.btn_red:hover {
    border: 1px solid #DC143C;
    color: #DC143C;
}
.btn_blue {
    background: #00008B;
    border-color: #00008B;
}
.btn_blue:hover {
    border: 1px solid #00008B;
    color: #00008B;
}
.btn_black {
    background: #000000;
    border-color: #000000;
}
.btn_black:hover {
    border: 1px solid #000000;
    color: #000000;
}
h2{
    color: #525252;
    font-family: sans-serif;
    border-bottom: 1px solid #d0dee7;
    box-shadow: 0 3px 15px rgba(208, 222, 231, 0.7);
    background: #f4f6f8;
    padding: 7px 15px;
}
/* inputタグのスピンボタンを非表示に */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance:textfield;
}
.main {
    margin: 0 auto;
    width: 90%;
}
.add_text {
    width: 80%;
}